
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I&C</title>


</head>
    <script src="https://kit.fontawesome.com/205a6e4ba5.js" crossorigin="anonymous"></script>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css '%}">-->
    <link href="{%static '/home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet %}">

    <!-- Custom styles for this template -->
    <link href="{%static '/home/css/modern-business.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css '%}">

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css '%}">


<body>
<!--    <div id="loading"></div>-->

            <!-- Navigation -->


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gp fixed-top">
        <div class="container">
            <a class="navbar-brand a-nav" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="padding-right:30px;">
                        <a class="nav-link a-nav" href="{% url 'display_lte' %}" style="color:#fff;">Tasks</a>
                    </li>
                    <li class="nav-item" style="padding-right:30px;">
                        <a class="nav-link a-nav" href="{% url 'validate' %}" style="color:#fff;">Dashboard</a>
                    </li>
                    <li class="nav-item" style="padding-right:30px;">
                        <a class="nav-link a-nav" href="{% url 'the_team' %}" style="color:#fff;">Team</a>
                    </li>

                    <li class="nav-item" style="padding-right:30px;">
                        <a class="nav-link a-nav" href="{% url 'tool' %}" style="color:#fff;">Tool</a>
                    </li>

                    <li class="navbar-nav" style="padding-left:100px;">
                        {% if user.is_authenticated %}
                            <a class="nav-link a-nav" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-link a-nav" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link a-nav" href="{% url 'login' %}">Login</a>
                            <a class="nav-link a-nav" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div id="particles-js"></div>

        <div>
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}
             {% block content %}{% endblock %}


            {% block body %}
            {% block header %}{% endblock %}
            {% endblock %}

        </div>

<footer class="foot py-5 h-100">
    <div class="container">
        <p class="m-0 text-center text-white">Developed by &copy; Baha Uddin Ahmed 2019</p>
    </div>
</footer>
    <script type="text/javascript" src="{% static '/js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/home/vendor/jquery/scroll.js' %}"></script>
<!--    <script>
        $(window).on("load", function(){
            $("#loader").fadeOut("slow");
        });

    </script>-->

    <script>
        setTimeout(function(){
            $("#loader").fadeOut("slow");
        },3000);

    </script>

<!--    <script>-->
<!--        $("#run").on("click",function(){-->
<!--            $(window).load(function(){-->
<!--                $("#runnung").fadeOut("slow");-->
<!--            })-->
<!--        });-->

<!--    </script>-->


    <script>
        $(document).ready(function(){
            $("#running").fadeOut("fast");
            });

    </script>

    <script>
        $(document).ready(function(){
            $("#run").click(function(){
                $("#running").fadeIn("fast");
            });
        });


    </script>




</body>

</html>