{% extends 'base.html' %}
{% load static %}
{% block body %}
{% block header %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000" data-key="true">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active">
                <div align="view">
                    <video class="video-fluid" autoplay loop muted style="transform: translate(0,-20%);">
                        <source src="{% static '/css/background/video4.mp4' %}" type="video/mp4">
                        Your Browser doesn't support HTML5 video tag.
                    </video>
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <a class="tit">Welcome to I&C</a><br>
                    <a>We integrate to configure</a>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                <div align="view">
                    <video class="video-fluid" autoplay loop muted style="transform: translate(0,-20%);">
                        <source src="{% static '/css/background/video3.mp4' %}" type="video/mp4">
                        Your Browser doesn't support HTML5 video tag.
                    </video>
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <a class="tit">Welcome to I&C</a><br>
                    <a>We integrate to configure</a>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                <div align="view">
                    <video class="video-fluid" autoplay loop muted style="transform: translate(0,-20%);">
                        <source src="{% static '/css/background/video5.mp4' %}" type="video/mp4">
                        Your Browser doesn't support HTML5 video tag.
                    </video>
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <a class="tit">Welcome to I&C</a><br>
                    <a>We integrate to configure</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
{% endblock %}
<!-- Page Content -->


<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <a class="tit">Welcome to I&C</a>
            <div><br></div>
            <p>I&C has below domains</p>
            <ul>
                <li>
                    <strong>New BTS</strong>
                </li>
                <li>Optimization</li>
                <li>Transmission</li>
                <li>Rehoming</li>
            </ul>
            <p>This website is the commonplace of each of the works done by the I&C Team. You can search for existing works through the filters given. If you can't find any entity that means I&C has no issue with it. For emergency you can even have the contact information of the desired person.</p>
        </div>
        <div class="col-lg-6">

            <video class="video-fluid" autoplay loop muted style="width:700px; height:400px; opacity:.7;"><source  src="{% static '/css/background/gp.mp4' %}" type="video/mp4"></video>
        </div>
    </div>
    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>


    <a class="tit">Task manager</a>
    <div><br></div>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <a class="card-header">I&C Work Status</a>
                <div class="card-body">
                    <p class="card-text">This section is the commonplace of each of the works done by the I&C Team. You can search for existing works through the filters given. If you can't find any entity that means I&C has no issue with it.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'display_lte' %}" class="btn btn-primary">Take a Tour</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <a class="card-header">Assigned Works</a>
                <div class="card-body">
                    <p class="card-text">This is the section of assigned works. From this section you can interrogate if any task is being completed or not. And you can update the task status from here.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'validate' %}" class="btn btn-primary">Take a tour</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Take a tour</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->


    <!-- Portfolio Section -->
    <a class="tit">The Team</a>
    <div><br></div>

    <div class="row">
        {% for item in items %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a class="pro" href="#"><img class="card-img-top" src="{{ item.image.url }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="pro">{{ item.name }}</a>
                    </h4>
                    <p class="card-text">{{ item.designation }}<br>{{ item.email }}<br>{{ item.contact }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    <!-- Features Section -->


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 h-100">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static '/js/particles.js' %}"></script>
<script type="text/javascript" src="{% static '/js/app.js' %}"></script>
<script src="{% static '/home/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/home/vendor/jquery/scroll.js' %}"></script>
{% endblock %}
