{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<br>
<div class="container" style="position:relative;width:100vw;padding-right:0px; padding-left:10px;z-index:1;">
    <h4>Status for {{ header }}</h4>
    <form method="post" action="">
       {% csrf_token %}
        <div class ="form-row">

            {{form|crispy}}
            <input class="btn btn-primary btn-sm" style="position:relative; margin-top:50px; margin-bottom:10px;" type="submit" value="Search" />
        </div>



    </form>
    <br>

        <table id="dtBasicExample" class="table table-hover table-striped w-auto" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Site/Cell Name</th>
                    <th>Service Type</th>
                    <th>Task Type</th>
                    <th>Task Details</th>
                    <th>execution_date</th>
                    <th>Executor Name</th>
                    <th>InC Domain</th>
                    <th>Ticket no.</th>
                    <th>Remarks</th>
                    <th>Time</th>

                </tr>
            </thead>


            <tbody>

            {% for item in items %}

            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.site }}</td>
                <td>{{ item.service }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.task }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.executor }}</td>
                <td>{{ item.domain }}</td>
                <td>{{ item.ticket }}</td>
                <td>{{ item.remarks }}</td>
                <td>{{ item.time }}</td>
                <td>
                    <!--<a href="{% url 'edit_lte' item.pk %}"><img src="{% static '/svg/edit1.svg' %}" alt="" style="display:flex;position:relative; width: 25px; height:25px;bottom: 15px;"></a>--> <!--width:50px; height:50px;bottom: 15px;-->
                    <a href="{% url 'edit_lte' item.pk %}"><i class="far fa-edit" style="position:relative; bottom:15px;"></i></a>
                    <a href="{% url 'delete_lte' item.pk %}" class="cross" role="button"></a>

                </td>
        <!--        <td>-->
        <!--            <a href="{% url 'edit_lte' item.pk %}" class="btn btn-warning btn-sm"role="button">Edit</a>-->
        <!--            <a href="{% url 'delete_lte' item.pk %}" class="btn btn-danger btn-sm"role="button">x</a>-->

        <!--        </td>-->
            </tr>



            {% endfor %}

            </tbody>

        </table>
    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1" class="btn btn-page" style="font-size:10px;">&laquo; first</a>
                <a href="?page={{ items.previous_page_number }}" class="btn btn-page" style="font-size:10px;">previous</a>
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}" class="btn btn-page" style="font-size:10px;">next</a>
                <a href="?page={{ items.paginator.num_pages }}" class="btn btn-page" style="font-size:10px;">last &raquo;</a>
            {% endif %}
    </span>
    </div>

    {% endblock %}
</div>