{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}



<div class="container" style="padding-right:1px; padding-left:10px; margin-right: auto; margin-left:200px;">

<form method="post" action="">
   {% csrf_token %}
    <div class ="form-row">

        {{form|crispy}}
        <input class="btn btn-primary btn-sm" style="position:relative; margin-top:50px; margin-bottom:10px;" type="submit" value="Search" />
    </div>


</form>

<br>


<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Executor Name</th>
        <th>Ticket</th>
        <th>Task Type</th>
        <th>Execution Date</th>
        <th>Catagory</th>
        <th>InC Domain</th>

    </tr>
    </thead>


    <tbody>

    {% for item in invalid %}
    {% if item.completed %}
    <tr>
        <td>{{ item.id }}</td>
        <td class="striker">{{ item.executor }}</td>
        <td>{{ item.ticket }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.catag }}</td>
        <td>{{ item.domain }}</td>
        <td>
            <a href="{% url 'todo_pending' item.pk %}" class="btn btn-success btn-sm" role="button" style="font-size: 10px;">COMPLETED</a>
            <!--&nbsp<a class="plus" href="{% url 'add_lte' %}" role="button"></a>-->
        </td>
    </tr>

    {% else %}

    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.executor }}</td>
        <td>{{ item.ticket }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.catag }}</td>
        <td>{{ item.domain }}</td>
        <td>
            <a href="{% url 'todo_completed' item.pk %}" class="btn btn-danger btn-sm" role="button" style="font-size: 10px; font-weight:900; padding-right:22px; padding-left:22px;">PENDING</a>
            &nbsp<a href="{% url 'add_lte' %}" class="plus" role="button"></a>
        </td>
    </tr>
    {% endif %}




    {% endfor %}
    
    </tbody>

</table>

{% endblock %}
</div>